@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3 class="display-6">Bienvenidos al</h3>
    <h1 class="display-4">Sistema de gestión de Productos y Presupuestos</h1>
</div>
